$color_accent: #9e00ff;
$color_background-modal: #f7ebff;
$color_background: #f9efff;
$color_error: #ff004c;
$color_dark: #000;
$color_light: #fff;
$color_lightG: #f8f8f8;

$screen-big_with: 1996px;
$screen_with: 1440px;
$content_with: 1344px;
$tablet_with: 768px;
$mobile_big_with: 414px;
$mobile_with: 320px;

$transition_hover: 0.15s ease;
