@use "./constants" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin bold-accent {
  font-family: $font_accent;
  font-weight: 700;
  text-decoration: none;
  color: $color_dark;
}

@mixin ultrabold-accent {
  font-family: $font_accent;
  font-weight: 800;
  text-decoration: none;
  color: $color_dark;
}

@mixin medium-body {
  font-family: $font_body;
  font-weight: 500;
  text-decoration: none;
  color: $color_dark;
}

@mixin button {
  @include medium-body;
  font-size: 2rem;
  padding: 1.2rem 3.2rem;
  border-radius: 1.6rem;
  text-decoration: none;
  color: $color_light;
  background-color: $color_dark;
  transition: $transition_hover;
  width: auto;
  max-height: 4.7rem;
  cursor: pointer;
  &:hover {
    background: $color_accent;
    color: $color_light;
  }
}

@mixin hero-title {
  font-family: $font_accent;
  font-weight: 700;
}

@mixin hero-description {
  font-family: $font_body;
  font-weight: 500;
}

@mixin text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
