@use "../abstract/constants" as *;

html {
  font-size: 10px;
  color: $color_dark;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: $color_background;
}

body {
  background: $color_background;
}
