@use "../abstract/constants" as *;
@use "../abstract/mixins" as *;

@font-face {
  font-family: "Neue Machina";
  src: url("../../../fonts/neue-machina/NeueMachina-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../../../fonts/neue-machina/PPNeueMachina-Ultrabold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: $font_accent;
  color: $color_dark;
}

body {
  font-family: $font_body;
}

h2 {
  margin: 0;
}
