@use "../abstract/constants" as *;
@use "../abstract/mixins" as *;

.header {
  background: $color_light;
  position: relative;
  z-index: 100;

  ////// Контейнер | Container
  &__container {
    max-width: $screen_with;
    height: 6.4rem;
    border: 0.1rem solid $color_lightB;
    border-radius: 6.4rem;
    padding: 0 4.8rem;
    margin: 0 auto;
    @include flex-between;

    @media (min-width: $screen_with) {
      max-width: $screen-big_with;
    }

    @media (max-width: $tablet_with) {
      padding: 0 1.6rem;
    }
  }
  ///END/// Контейнер | Container

  ////// Лого | Logo
  &__logo {
    @include bold-accent;
    @include flex-center;
    font-size: 3.6rem;
    &:hover {
      color: $color_accent;
      transition: $transition_hover;
    }
    @media (max-width: $content-breakpoint) {
      font-size: 2.4rem;
    }
  }
  ///END/// Лого | Logo

  ////// Меню | Menu
  &__menu {
    display: flex;
    gap: 3.2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    &--dropdown:hover .header__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &:last-child {
      .header__dropdown-toggle {
        transition: all $transition_hover;
        background: transparent;
        color: $color_dark;
        display: flex;
        align-items: center;
        padding: 2.1rem 1.6rem;
        margin-top: 0.9rem;
        margin-left: -1.6rem;
        height: 4.7rem;

        &::after {
          display: block;
        }
      }

      &:hover,
      &:has(.header__dropdown:hover) {
        .header__dropdown-toggle {
          background: $color_dark;
          color: $color_light;
          border-radius: 1.6rem;

          &::after {
            display: none;
          }

          &:hover {
            background: $color_accent;
          }
        }
      }
    }
  }

  &__link {
    position: relative;
    @include medium-body;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 2.1rem 0;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    @media (max-width: $content-breakpoint) {
      font-size: 1.8rem;
      padding: 2.3rem 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0.4rem;
      border-top-left-radius: 3.2rem;
      border-top-right-radius: 3.2rem;
      background: $color_dark;
      transition: $transition_hover;
    }

    &:hover::after {
      width: 100%;
      transition: $transition_hover;
    }

    &--active::after {
      width: 100%;
    }
  }
  ///END/// Меню | Menu

  ////// Выпадающее подменю | Drop-down submenu
  &__dropdown {
    position: absolute;
    top: 6rem;
    left: -1.6rem;
    background: transparent;
    padding: 0;
    height: 4.7rem;
    opacity: 0;
    visibility: hidden;
    transition: $transition_hover;
    white-space: nowrap;
  }

  &__dropdown-item {
    list-style: none;
  }

  &__dropdown-link {
    display: inline-block;
    @include medium-body;
    font-size: 2rem;
    padding: 1.2rem 1.6rem;
    margin: 0.4rem 0;
    border-radius: 1.6rem;
    text-decoration: none;
    color: $color_light;
    background-color: $color_dark;
    transition: $transition_hover;
    width: auto;

    &:hover {
      background: $color_accent;
      color: $color_light;
      transition: $transition_hover;
    }
  }
  ///END/// Выпадающее подменю | Drop-down submenu

  ////// Действия | Actions
  &__actions {
    @include flex-center;
    gap: 0.8rem;
  }

  &__button {
    @include button;
    @media (max-width: $content-breakpoint) {
      font-size: 1.8rem;
    }
  }
  ///END/// Действия | Actions

  ////// Бургер | Burger
  &__burger {
    display: none;
    position: relative;
    width: 13.3rem;
    height: 2.3rem;
    background: $color_dark;
    border: none;
    cursor: pointer;
    z-index: 30;
    border-radius: 2.4rem;
    &:hover {
      background: $color_accent;
    }
  }

  &__burger-line {
    position: absolute;
    left: 0;
    width: 11.7rem;
    height: 0.1rem;
    background: $color_light;
    transition: $transition_hover;

    &:nth-child(1) {
      top: 0.7rem;
      left: 0.8rem;
    }
    &:nth-child(2) {
      top: 1.1rem;
      left: 0.8rem;
      right: 0.8rem;
    }
    &:nth-child(3) {
      bottom: 0.7rem;
      left: 0.8rem;
    }
    &:nth-child(4) {
      top: 1.1rem;
      left: 2.4rem;
      width: 1.8rem;
    }
    &:nth-child(5) {
      top: 1.1rem;
      left: 9.5rem;
      width: 1.8rem;
    }
  }

  &__burger--active {
    .header__burger-line:nth-child(4) {
      transform: rotate(-45deg);
    }
    .header__burger-line:nth-child(5) {
      transform: rotate(-45deg);
    }
  }
  ///END/// Бургер | Burger

  ////// Мобильная навигация | Mobile nav
  @media (max-width: $tablet-big_with) {
    &__nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 26rem;
      height: 100vh;
      background: $color_light;
      padding: 10rem 2rem;
      transition: $transition_hover;

      &--open {
        right: 0;
      }
    }

    &__menu {
      flex-direction: column;
      gap: 2rem;
    }

    &__actions {
      display: none;
    }

    &__burger {
      display: block;
    }

    &__dropdown {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: none;
      box-shadow: none;
      padding-left: 1rem;
    }
  }
  ///END/// Мобильная навигация | Mobile nav
}

////// Иконки соцсетей | Social media icons
.socials {
  @include flex-center;
  gap: 1rem;
  list-style: none;
  margin-left: 4rem;
  padding: 0;
  @media (max-width: $content-breakpoint) {
    margin-left: 2rem;
  }
}

.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &--tiktok {
    background-image: url("../img/tiktok.svg");
    &:hover {
      transform: scale(1.1);
      transition: $transition_hover;
    }
  }

  &--vk {
    background-image: url("../img/vk.svg");
    &:hover {
      transform: scale(1.1);
      transition: $transition_hover;
    }
  }

  &--telegram {
    background-image: url("../img/telegram.svg");
    &:hover {
      transform: scale(1.1);
      transition: $transition_hover;
    }
  }
}
///END/// Иконки соцсетей | Social media icons
