@use "../abstract/constants" as *;
@use "../abstract/mixins" as *;
@use "../base/fonts" as *;

.reviews {
  padding: 6rem 0;
  overflow: hidden;
  position: relative;
  &__slider {
    max-width: 144rem;
    margin: 0 auto;
    position: relative;
    padding-top: 4rem;
  }

  &__card {
    width: 100%;
    height: 46.4rem;

    display: flex;
    flex-direction: column;

    &-bg {
      position: relative;
      z-index: 1;
      height: 110%;
      border-radius: 2.4rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2.4rem;
      }
    }

    &-content {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 50%;
      transform: translateX(-52.5%);
      padding: 6rem 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      background: $color_light;
      border-radius: 2.4rem;
      margin: 0.8rem;
      height: auto;
      width: calc(100% - 6.4rem);
    }
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.5rem solid $color_light;
    overflow: hidden;
    background: $color_light;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 2.4rem;
    font-family: $font_body;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: auto;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.5;
    color: $color_dark;
    text-align: left;
    margin-bottom: 1.6rem;
    max-height: 12rem;
    width: 100%;
  }

  &__nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 10;
    pointer-events: none;
  }

  &__btn {
    width: 10rem;
    height: 10rem;
    padding: 3.4rem;
    border-radius: 1.6rem;
    background: $color_light;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition_hover;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
    pointer-events: auto;

    &.swiper-button-prev,
    &.swiper-button-next {
      position: static;
      margin: 0;
    }

    &:hover {
      background: $color_accent;
      box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.2);
    }

    &::after {
      display: none;
    }

    img {
      width: 1.6rem;
      height: auto;
      display: block;
      transition: filter $transition_hover;
    }

    &:hover img {
      filter: brightness(0) invert(1);
    }
  }
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}
